.header-logo {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #fff;
  width: 10em;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

.header-title {
    font-size: 4em;
    text-align: center;
    line-height: 1;
    color: #222;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    margin: 0em 0em -0em 0em;
    padding: 0;
    width: calc(100% - 55px);
}

.header-secondary {
  font-size: 2.5em;
  color: #222;
  font-family: 'Montserrat',sans-serif;
  font-weight: 200;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 1em;
}

.section-top {
  margin-bottom: 2em;
  }

.profile-content {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #fff;
  margin-top: 2em;
  padding: 2em;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-content-row {
  margin-top: 2em;
}

.profile-sidebar-box {
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 2em;
  border-color: #dbdbdb;
  border-spacing: inherit;
}

.rating-header {
  font-size: 2.5em;
}

.rating-title {
  font-size: 10px;
  color: #a4a4a4;
  text-transform: uppercase;
  display: block;
  margin: 2px 0 0 0;
  font-weight: 400;
}
