.item-row {
  margin-bottom: 2em;
  color: #222;
  padding: .5em;
  background: #fff;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

.item-meta {
  margin-left: 4em;
}

.mobile-item {
  margin-bottom: 1em;
}

.item-image {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #fff;
  margin: 1.5em;
  padding: 5px;
  width: 15em;
  float: left;

}

.item-header {
    font-size: 4em;
    line-height: 1;
    color: #222;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    margin: .2em 0em -.20em 0em;
    padding: 0;
    float: left;
    width: calc(100% - 55px);
}

.item-tagline {
    font-size: 1.5em;
    line-height: 1;
    color: #222;
    font-family: 'Montserrat',sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    clear: both;
}

.item-desc {
  margin-top: 1em;
}

.item-tags {
  margin-top: 1em;
}

.item-action {
  margin-top: 1em;
  margin-bottom: 1em;
  float: right;
}

.mobile-item-row {
  margin-bottom: 1em;
}

.mobile-class-item {
  margin-left: 1.5em;
}

.mobile-header {
  font-size: 1.2em;
  font-weight: bold;
}

.mobile-rating-item {
  float: right;
  margin-right: 1.0em;
  padding-top: .25em;
}

.mobile-start-date {
  float: center;
}

.mobile-end-date {
  float: right;
}
